# Dictionaries
  Key-Value pair,Unordered,Mutable

In [1]:
mydict={'name':'manvi','age':22,'city':'Hassan'}

In [2]:
mydict

{'name': 'manvi', 'age': 22, 'city': 'Hassan'}

In [3]:
dictt=dict(name='manvi',age=23,city='mysore')

In [4]:
dictt

{'name': 'manvi', 'age': 23, 'city': 'mysore'}

In [5]:
dictt['age']

23

In [6]:
dictt['name']

'manvi'

In [7]:
dictt['lastname']

KeyError: 'lastname'

In [8]:
dictt['email']='manvi@xyz.com'

In [9]:
dictt

{'name': 'manvi', 'age': 23, 'city': 'mysore', 'email': 'manvi@xyz.com'}

In [10]:
dictt['email']='bhoomi@abc.com'

In [11]:
dictt

{'name': 'manvi', 'age': 23, 'city': 'mysore', 'email': 'bhoomi@abc.com'}

In [12]:
del dictt['name']

In [13]:
dictt

{'age': 23, 'city': 'mysore', 'email': 'bhoomi@abc.com'}

In [14]:
dictt.pop('age')

23

In [15]:
dictt

{'city': 'mysore', 'email': 'bhoomi@abc.com'}

In [16]:
dictt['marks']=89

In [17]:
dictt

{'city': 'mysore', 'email': 'bhoomi@abc.com', 'marks': 89}

In [19]:
dictt.popitem()

('marks', 89)

In [20]:
dictt

{'city': 'mysore', 'email': 'bhoomi@abc.com'}

In [22]:
if 'city' in dictt:
    print(dictt['city'])

mysore

In [23]:
if 'lastcity' in dictt:
    print(dictt['lastcity'])

In [25]:
try:
    print(dictt['email'])
except:
    print('error')

bhoomi@abc.com

In [26]:
for key in dictt:
    print(key)

city
email

In [32]:
for i in dictt.keys():
    print(i)

city
email

In [36]:
for value in dictt.values():
    print(value)

mysore
bhoomi@abc.com

In [37]:
for key,value in dictt.items():
    print(key,value)

city mysore
email bhoomi@abc.com

In [38]:
dictt_cpy=dictt

In [39]:
dictt_cpy

{'city': 'mysore', 'email': 'bhoomi@abc.com'}

In [40]:
dictt_cpy['name']='manvi'

In [41]:
dictt_cpy

{'city': 'mysore', 'email': 'bhoomi@abc.com', 'name': 'manvi'}

In [42]:
dictt

{'city': 'mysore', 'email': 'bhoomi@abc.com', 'name': 'manvi'}

In [44]:
my_dictt={'name':'varna','class':2,'age':5}

In [45]:
my_dictt

{'name': 'varna', 'class': 2, 'age': 5}

In [47]:
my_dict1=my_dictt.copy()

In [48]:
my_dict1

{'name': 'varna', 'class': 2, 'age': 5}

In [49]:
my_dict1['place']='bangalore'

In [50]:
my_dict1

{'name': 'varna', 'class': 2, 'age': 5, 'place': 'bangalore'}

In [51]:
my_dictt

{'name': 'varna', 'class': 2, 'age': 5}

In [52]:
my_dict2=dict(my_dict1)

In [53]:
my_dict2

{'name': 'varna', 'class': 2, 'age': 5, 'place': 'bangalore'}

In [54]:
my_dict2['chocolate']='perk'

In [55]:
my_dict2

{'name': 'varna',
 'class': 2,
 'age': 5,
 'place': 'bangalore',
 'chocolate': 'perk'}

In [56]:
my_dict1

{'name': 'varna', 'class': 2, 'age': 5, 'place': 'bangalore'}

In [57]:
dictt={1:2,2:4,3:9}

In [58]:
dictt

{1: 2, 2: 4, 3: 9}

In [69]:
dictt[2]

4

In [59]:
my_dict={'name':'bhoomika','age':22,'place':'hassan'}

In [60]:
my_dict2={'name':'sanvi','age':'33','email':'zzxc@.com'}

In [61]:
my_dict.update(my_dict2)

In [62]:
my_dict

{'name': 'sanvi', 'age': '33', 'place': 'hassan', 'email': 'zzxc@.com'}

In [65]:
my_dict={'name':'shanvi','age':72,'place':'mumbai'}

In [66]:
my_dict2={'name':'manvi','age':'43','email':'xyz@.com'}

In [67]:
my_dict2.update(my_dict)

In [68]:
my_dict2

{'name': 'shanvi', 'age': 72, 'email': 'xyz@.com', 'place': 'mumbai'}

In [70]:
mytuple=(8,7)

In [71]:
mydict={mytuple:15}

In [72]:
mydict

{(8, 7): 15}

In [73]:
mylist=[1,2]

In [74]:
mydict={mylist:8}    #because list are mutable,cannot be used as a key

TypeError: unhashable type: 'list'