# Lists
Ordered,mutable,duplicates are allowed.

In [1]:
mylist=['apple','bananna','orange']

In [2]:
mylist

['apple', 'bananna', 'orange']

### Creating empty list

In [3]:
mylist1=list()

In [4]:
mylist1

[]

### indexing

In [5]:
mylist[0]

'apple'

In [6]:
mylist[1]

'bananna'

### negative indices

In [7]:
mylist[-1]

'orange'

In [8]:
mylist[-2]

'bananna'

In [9]:
for i in mylist:
    print(i)

apple
bananna
orange

In [10]:
if 'apple' in mylist:
    print('yes')
else:
    print('no')

yes

In [11]:
if 'cherry' in mylist:
    print('yes')
else:
    print('no')

no

In [12]:
mylist[0]=11

In [13]:
mylist

[11, 'bananna', 'orange']

In [14]:
mylist.append('cherry')

In [15]:
mylist

[11, 'bananna', 'orange', 'cherry']

In [16]:
mylist.insert(2,'kiwi')

In [17]:
mylist

[11, 'bananna', 'kiwi', 'orange', 'cherry']

In [18]:
mylist.pop()

'cherry'

In [21]:
mylist

[11, 'bananna', 'kiwi', 'orange']

In [24]:
mylist.remove('apple')

In [25]:
mylist

['bananna', 'kiwi', 'orange']

In [103]:
len(mylist)

6

In [26]:
mylist.remove('apple1')

ValueError: list.remove(x): x not in list

In [27]:
mylist.clear()

In [28]:
mylist

[]

In [35]:
list1=[1,2,3,5,7,-4,-5]

In [36]:
list1.sort()

In [37]:
list1

[-5, -4, 1, 2, 3, 5, 7]

In [38]:
new_list=sorted(list1)

In [33]:
new_list

[-5, -4, 1, 2, 3, 5, 7]

In [39]:
list1

[-5, -4, 1, 2, 3, 5, 7]

In [40]:
list=[1,2,33]

In [41]:
list.sort()

In [42]:
list

[1, 2, 33]

In [43]:
new=sorted(list)

In [44]:
list

[1, 2, 33]

In [45]:
new

[1, 2, 33]

In [46]:
list2=[1,2,4,6,5,3]

In [47]:
list3=sorted(list2)

In [48]:
list2

[1, 2, 4, 6, 5, 3]

In [49]:
list3

[1, 2, 3, 4, 5, 6]

In [50]:
list4=[3,4,2,6,1,8]

In [51]:
list6=sorted(list4)

In [52]:
list6

[1, 2, 3, 4, 6, 8]

In [53]:
list4

[3, 4, 2, 6, 1, 8]

In [54]:
mylist=[0]*4

In [55]:
mylist

[0, 0, 0, 0]

In [56]:
list1=[1,2,3,4]

In [57]:
list2=[7,8,6,5]

In [58]:
list2

[7, 8, 6, 5]

In [67]:
new=list1+list2

In [68]:
new

[1, 2, 3, 4, 7, 8, 6, 5]

In [69]:
list3=new[0:5]

In [70]:
list3

[1, 2, 3, 4, 7]

In [72]:
list3=[1,5,7,8,9,6]

In [74]:
list3[ : :1]

[1, 5, 7, 8, 9, 6]

In [75]:
list3[::2]

[1, 7, 9]

In [77]:
list3[-1]

6

In [78]:
list[::-1]

[33, 2, 1]

In [79]:
list_org=[11,22,33,44,55,66]

In [80]:
list_org

[11, 22, 33, 44, 55, 66]

In [81]:
list_cpy=list_org

In [82]:
list_cpy

[11, 22, 33, 44, 55, 66]

In [83]:
list_cpy.append(77)

In [84]:
list_cpy

[11, 22, 33, 44, 55, 66, 77]

In [85]:
list_org

[11, 22, 33, 44, 55, 66, 77]

In [86]:
list1=[12,23,34,45]

In [87]:
list2=list1.copy()

In [88]:
list2

[12, 23, 34, 45]

In [89]:
list2.append(56)

In [90]:
list2

[12, 23, 34, 45, 56]

In [91]:
list1

[12, 23, 34, 45]

In [92]:
name=['bhumi','manvi','shanvi']

In [94]:
name1=name[:]

In [95]:
name1

['bhumi', 'manvi', 'shanvi']

In [96]:
name1.append('megha')

In [97]:
name1

['bhumi', 'manvi', 'shanvi', 'megha']

In [98]:
name

['bhumi', 'manvi', 'shanvi']

# list comphrension

In [99]:
mylist=[1,2,3,4,5,6]

In [100]:
list=[a*a for a in mylist]

In [101]:
mylist

[1, 2, 3, 4, 5, 6]

In [102]:
list

[1, 4, 9, 16, 25, 36]