### Sets
Unordered,mutable,no duplicates

In [38]:
myset={1,2,3}

In [39]:
myset

{1, 2, 3}

In [40]:
set1=set()

In [41]:
set1

set()

In [42]:
type(set1)

set

In [43]:
my_set={1,2,3,4,1,2}

In [44]:
my_set

{1, 2, 3, 4}

In [45]:
my_set=set([1,2,3])

In [46]:
my_set

{1, 2, 3}

In [47]:
myset=set('hello')

In [48]:
myset

{'e', 'h', 'l', 'o'}

In [49]:
myset={1,2,3}

In [50]:
myset.add(4)

In [51]:
myset

{1, 2, 3, 4}

In [52]:
myset.remove(5)

KeyError: 5

In [53]:
myset.discard(4)

In [54]:
myset

{1, 2, 3}

In [55]:
myset.discard(6)

In [56]:
myset

{1, 2, 3}

In [57]:
myset.clear()

In [58]:
myset

set()

In [59]:
myset={1,2,3}

In [60]:
myset

{1, 2, 3}

In [61]:
myset.pop()

1

In [62]:
myset

{2, 3}

In [63]:
for i in myset:
    print(i)

2
3

In [64]:
if 2 in myset:
    print('yes')

yes

In [65]:
if 1 in myset:
    print('yes')

In [66]:
seta={1,3,5,7,9}

In [67]:
setb={2,4,6,8,10}

In [68]:
prime={2,3,5,7}

In [69]:
seta.union(setb)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [70]:
seta.intersection(setb)

set()

In [71]:
seta.intersection(prime)

{3, 5, 7}

In [72]:
setb.intersection(prime)

{2}

In [73]:
set1={1,2,3,4,5,6,7,8,9}

In [74]:
set2={1,2,3,10,11,12}

In [75]:
a=set1.difference(set2)

In [76]:
a

{4, 5, 6, 7, 8, 9}

In [77]:
b=set1.symmetric_difference(set2)

In [78]:
b

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [79]:
set1.update(set2)

In [80]:
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}

In [81]:
set1.intersection_update(set2)

In [82]:
set1

{1, 2, 3, 10, 11, 12}

In [87]:
seta={1,2,3,4,5,6,7,8,9}

In [88]:
setb={1,2,3,10,11,12}

In [89]:
seta.symmetric_difference_update(setb)

In [91]:
seta

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [92]:
set1={1,2,3,4,5,6}

In [93]:
set2={1,2,3}

In [94]:
set1.issubset(set2)

False

In [95]:
set2.issubset(set1)

True

In [96]:
set1.issuperset(set2)

True

In [97]:
set2.issuperset(set1)

False

In [98]:
seta.isdisjoint(setb)

False

In [101]:
set1={1,2,3,4}

In [102]:
set2={7,8}

In [103]:
set1.isdisjoint(set2)

True

In [104]:
set3=set2

In [105]:
set3

{7, 8}

In [106]:
set3.add(5)

In [107]:
set3

{5, 7, 8}

In [108]:
set2

{5, 7, 8}

In [109]:
set3=set2.copy()

In [110]:
set3

{5, 7, 8}

In [111]:
set3.add(10)

In [112]:
set3

{5, 7, 8, 10}

In [113]:
set2

{5, 7, 8}

In [114]:
set3=set(set2)

In [115]:
set3

{5, 7, 8}

In [116]:
set3.add(1)

In [117]:
set3

{1, 5, 7, 8}

In [118]:
set2

{5, 7, 8}

##### Frozenset=immutable version of normal set

In [119]:
a=frozenset([1,2,3,4])

In [120]:
a

frozenset({1, 2, 3, 4})

In [121]:
a.add(9)

AttributeError: 'frozenset' object has no attribute 'add'

In [122]:
a.remove(1)

AttributeError: 'frozenset' object has no attribute 'remove'

#### Union,intersection will work for frozen set