# Tuples
Ordered,immutable,duplicates are allowed

In [1]:
mytuple=('manvi',45,'bananna',1)

In [2]:
mytuple

('manvi', 45, 'bananna', 1)

In [3]:
type(mytuple)

tuple

In [4]:
tup=('max')

In [5]:
tup

'max'

In [6]:
type(tup)

str

In [7]:
tup1=('min',)

In [8]:
tup1

('min',)

In [9]:
type(tup1)

tuple

In [10]:
mytup=tuple(['manvi','shanvi',56])

In [11]:
mytup

('manvi', 'shanvi', 56)

In [12]:
mytup[0]

'manvi'

In [13]:
mytup[-1]

56

In [15]:
mytup[0]= 67     #tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [17]:
for x in mytup:
    print(x)

manvi
shanvi
56

In [18]:
if 56 in mytup:
    print('yes')
else:
    print('no')

yes

In [19]:
if 'tin' in mytup:
    print('yes')
else:
    print('no')

no

In [20]:
my_tuple=['b','h','o','o','m','i','k','a']

In [21]:
len(my_tuple)

8

In [22]:
my_tuple.count('o')

2

In [23]:
my_tuple.index('b')

0

In [24]:
my_tuple.index('m')

4

In [25]:
my_list=list(my_tuple)

In [26]:
my_list

['b', 'h', 'o', 'o', 'm', 'i', 'k', 'a']

In [27]:
my_tup=tuple(my_list)

In [28]:
my_tup

('b', 'h', 'o', 'o', 'm', 'i', 'k', 'a')

In [29]:
tup=('1','2','3','4','5','6','7','8','9')

In [30]:
tup

('1', '2', '3', '4', '5', '6', '7', '8', '9')

In [31]:
tup[0:6]

('1', '2', '3', '4', '5', '6')

In [32]:
tup[-1:]

('9',)

In [33]:
tup[::-1]

('9', '8', '7', '6', '5', '4', '3', '2', '1')

In [35]:
tup[::2]

('1', '3', '5', '7', '9')

In [36]:
my_tup='manvi',22,'hassan'

In [37]:
name,age,city=my_tup

In [38]:
print(name)

manvi

In [39]:
print(age)

22

In [40]:
print(city)

hassan

In [41]:
my_tuple=(1,2,3,4,5)

In [44]:
i1,*i2,i3=my_tuple

In [45]:
i1

1

In [46]:
i3

5

In [47]:
i2

[2, 3, 4]

In [48]:
import sys

In [49]:
my_list=['0','1','2','hello',True]

In [50]:
my_tuple=('0','1','2','hello',True)

In [51]:
print(sys.getsizeof(my_list),'bytes')

104 bytes

In [52]:
print(sys.getsizeof(my_tuple),'bytes')

88 bytes

In [53]:
import timeit

In [54]:
print(timeit.timeit(stmt='[0,1,2,3,4,5]',number=1000000))

0.20103780000000002

In [55]:
print(timeit.timeit(stmt='(0,1,2,3,4,5)',number=1000000))

0.05433410000000194